* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.banner {
    width: 30vw;
}

.banner img {
    width: 100%;
    height: auto;
}